<ion-view title="Clinches" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear button-small ">
            <img src="img/logo.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ">
            <img src="img/settings.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-content scrollbar-x="false">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list can-swipe="false">
        <!--ui-sref="{{link.Route ? link.Route: false}}"-->
            <ion-item ng-repeat="clinch in clinches" ui-sref="ltr.userslist({clinchIndex: $index})" ng-click="goUser()">
                <div class="card padding"> <!--ng-class="{done: clinchFromClinch.done}"-->
                    <div class="item item-divider">
                        {{clinch.ruleTitle}}
                    </div>
                    <span ng-if="clinch.isClichAdmin" class="ribbon blue">
                            O
                    </span>
                    <!--<div class="item">
                        <img ng-src="img\{{clinch.image}}" class="clinch-image">
                    </div>-->
                    <div>
                        <img class="clinch-image" ng-src="img\{{clinch.clinchTypeImage}}">
                    </div>
                    
                    <div class="item item-body padding">
                        {{clinch.shortDescription}}
                    </div>
                    <div class="item item-body padding">
                        {{clinch.ruleDescription}}
                    </div>
                    <div ng-if="clinch.fromAllProfessions == false" class="item item-text-wrap padding">
                        <!--You can clinch with: {{clinch.partnerName}}-->
                        With {{clinch.professionName}}
                        <img ng-src ="img\professions\{{clinch.professionImage}}" class="clinch-image">
                    </div>
                    <div ng-if="clinch.fromAllProfessions == true" class="item item-text-wrap padding">
                        <!--You can clinch with: {{clinch.partnerName}}-->
                        With All Professions
                    </div>
                    <!--img ng-src ="img\{{clinch.image}}" class="clinch-left"-->
                    <!--<div class="item item-divider">-->
                        <!--<span>Partner: {{clinch.partnerName}}</span><br>-->
                        <!--{{clinch.kilometersTo}} KM from you.          
                    </div>-->
                </div>


            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
