<ion-view title="My Clinches">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear button-small ">
            <img src="img/logo.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ">
            <img src="img/settings.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-content scrollbar-x="false">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>
        <h4  class="item-stacked-label" ng-show="!clinchesIRequested.length || clinchesIRequested.length==0">No Clinches Found</h4>
        <ion-list can-swipe="false">
            <ion-item ng-repeat="clinch in clinchesIRequested" href="#/ltr/clinchirequested/{{clinch.index}}" class="item item-avatar">


                <img ng-src ="img\{{clinch.image}}">

                <h2>{{clinch.type}}</h2>

                <span>Partner: {{clinch.partnerName}}</span>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
