<ion-view title="Create New Clinch Rule">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear button-small ">
            <img src="img/logo.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ">
            <img src="img/settings.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-divider">              
            To All Professions?
            <label class="toggle toggle-positive">
                <input id='toAllProfession' type="checkbox" ng-model="isToAllPropessions" ng-click="onToClick()">
                    <div class="track">
                        <div class="handle"></div>
                   </div>
            </label>
        </div>
        <div class="list" ng-hide='isToAllPropessions'>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search To Profession" ng-model="toProfession.professionName">
                <a class="button icon-right ion-arrow-right-c button-clear"></a>
            </label>
            <ion-scroll  zooming="false" direction="y" style="height: 70px">
                <div ng-repeat="profession in toProfessions | filter: filterToFunction | orderBy: 'professionName'">
                    <a ng-click="setToProfession(profession)">{{profession.professionName}}</a>
                </div>
            </ion-scroll>
        </div>            
        <div class="item item-divider">              
            From All Professions?
            <label class="toggle toggle-positive">
                <input id='fromAllProfession' type="checkbox" ng-model="isFromAllPropessions" ng-click="onFromClick()">
                    <div class="track">
                        <div class="handle"></div>
                   </div>
            </label>
        </div>
        <div class="list" ng-hide='isFromAllPropessions'>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search From Profession" ng-model="fromProfession.professionName">
                <a class="button icon-right ion-arrow-right-c button-clear"></a>
            </label>
            <ion-scroll  zooming="false" direction="y" style="height: 70px">
                <div ng-repeat="profession in fromProfessions | filter: filterFromFunction | orderBy: 'professionName'">
                    <a ng-click="setFromProfession(profession)">{{profession.professionName}}</a>
                </div>
            </ion-scroll>
        </div>
        <div class="item item-divider">
            Please Select Clinch Type
            <div class="list">                
                    <!--<i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search ClinchType">-->
                <select ng-model="clinchTypeId">
                    <option ng-repeat="clinchType in clinchTypes | orderBy: 'name'" value="{{clinchType.id}}" ng-selected="{{clinchType.id == 'fHkl03bZH0'}}">{{clinchType.name}}</option>
                </select>                
            </div>
        </div>        
        <button class="button button-block button-positive" ng-click='createClinchRule()'>
          Save
        </button>
    </ion-content>
</ion-view>
