<ion-view title="Sign Up">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear button-small ">
            <img src="img/logo.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ">
            <img src="img/settings.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <!--<form name="myForm" ng-submit="signUp()" novalidate>-->
            <div class="card">
                <div class="item item-divider">
                    Please Register
                </div>
                <!--<div class="item item-text-wrap">
    Welcome to Clinch !                <br>
                </div>-->
               <!-- <div class="list item">
                    <label class="item item-input">
                        <i class="icon ion-android-person padding-right"></i>
                        <input type="text" placeholder="Pick up a user name" name="uname" ng-model="userDetails.uname" ng-minlength="4" ng-maxlength="12" required>
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-ios-email-outline  padding-right"></i>
                        <input type="email" placeholder="Email"  name="email" ng-model="userDetails.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,24})$/" ng-maxlength="25" required>
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-locked padding-right"></i>
                        <input type="password" placeholder="Password" name="password" ng-model="userDetails.password" ng-minlength="4" ng-maxlength="12" required>
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-home padding-right"></i>
                        <input type="text" placeholder="Business Name" name="businessName" ng-model="userDetails.businessName" ng-maxlength="25" required>
                    </label>
                </div>-->
                <div class="list item">
                    <label class="item item-input">
                        <i class="icon ion-android-person padding-right"><!--img src="img/User_id.png" class="small-menu-button-image"--></i>
                        <input type="text" placeholder="Pick up a user name" name="uname" ng-model="userDetails.uname" >
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-ios-email-outline  padding-right"><!--img src="img/E-mail.png" class="small-menu-button-image"--></i>
                        <input type="email" placeholder="Email"  name="email" ng-model="userDetails.email" >
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-locked padding-right"><!--img src="img/Password.png" class="small-menu-button-image"--></i>
                        <input type="password" placeholder="Password" name="password" ng-model="userDetails.password" >
                    </label>
                    <label class="item item-input">
                        <i class="icon ion-home padding-right"><!--img src="img/Password.png" class="small-menu-button-image"--></i>
                        <input type="text" placeholder="Business Name" name="businessName" ng-model="userDetails.businessName" >
                    </label>
                </div>
                <div class="padding">
                    <!--
                    <p class="ng-hide assertive" ng-show="myForm.uname.$error.required && myForm.uname.$dirty">* Username is required</p>
                    <p class="ng-hide assertive" ng-show="myForm.uname.$error.minlength">* Username must be longer than 4 characters</p>
                    <p class="ng-hide assertive" ng-show="myForm.uname.$error.maxlength">* Username must be shorter than 12 characters</p>
                    <p class="ng-hide assertive" ng-show="myForm.password.$error.required && myForm.password.$dirty">* Password is required</p>
                    <p class="ng-hide assertive" ng-show="myForm.password.$error.minlength">* Password must be longer than 4 characters</p>
                    <p class="ng-hide assertive" ng-show="myForm.password.$error.maxlength">* Password must be shorter than 12 characters</p>
                    <p class="ng-hide assertive" ng-show="myForm.email.$error.pattern">* Email must be valid with no special characters or spaces</p>
                    <p class="ng-hide assertive" ng-show="myForm.email.$error.required && myForm.email.$dirty">* Email is required</p>
                    <p class="ng-hide assertive" ng-show="myForm.email.$error.minlength">* Email must be longer than 4 characters</p>
                    <p class="ng-hide assertive" ng-show="myForm.email.$error.maxlength">* Email must be shorter than 25 characters</p>
                    <p class="ng-hide assertive" ng-show="myForm.businessName.$error.required && myForm.businessName.$dirty">* Business Name is required</p>
                    <p class="ng-hide assertive" ng-show="myForm.businessName.$error.minlength">* Business Name must be longer than 4 characters</p>
                    <p class="ng-hide assertive" ng-show="myForm.businessName.$error.maxlength">* Business Name must be shorter than 25 characters</p>
                -->
                    <p class="ng-hide assertive" ng-show="showError">{{errorMesage}}</p>
                </div>
            </div>
            <div class="item">
                <!--<button class="button button-positive center-button" ng-disabled="myForm.$invalid" type="submit"> -->
                <button class="button button-positive center-button" ng-click="signUp()">
                    Register me
                </button>
            </div>
        <!--</form>-->
    </ion-content>
</ion-view>
