<ion-view title="המקצוע שלי">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon button-clear button-small ">
            <img src="img/settings.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button menu-toggle="right" class="button button-icon button-clear ">
            <img src="img/logo.png" class="small-menu-button-image">
        </button>
    </ion-nav-buttons>
    <ion-content scroll="false" class="padding" delegate-handle="contentMainScroll">

        <div class="card">
            <div class="item item-divider rtl">
                מה המיקצוע שלך?
            </div>
            <label class="item item-input">
                <!--<i class="icon "><img src="img/search icon.png" class="small-menu-button-image"></i>-->
                <a class="button icon-left ion-arrow-left-c button-clear"></a>
                <input type="text" placeholder="עיסוק" ng-model="searchText.name" ng-change="refresh(-1)" style="direction:RTL;">
                <i class="icon icon-right ion-search placeholder-icon"></i>
            </label>
            
            <ion-scroll  zooming="false" direction="y" style="height: 100px" class="rtl">
                    <div ng-repeat="profession in professions | filter: filterFunction | orderBy: 'professionName_he'">
                        <a ng-click="setSearchString(profession,$index)">{{profession.professionName_he}}</a>
                    </div>
            </ion-scroll>
        
            <div class="item item-image">
                <img ng-src="img/professions/{{currentProfession.imageFileName}}" class="clinch-middle-logo">
            </div>
            <!--<ion-slide-box delegate-handle="professionsSlide" show-pager="false" >
                <ion-slide ng-repeat="profession in professions | filter: filterImagesFunction | orderBy: 'professionName_he'">
                <div>
                    <a ng-click="setSearchString(profession,$index)">
                        <img ng-src="img/professions/{{profession.imageFileName}}" class="clinch-image-slide">
                    </a>
                </div>
                </ion-slide>
            </ion-slide-box>-->
        </div>
        <div class="item">
            <button class="button button-positive center-button" ng-click="confirm()">
                בחר
            </button>
        </div>


    </ion-content>
</ion-view>
