/* Empty. Add your own CSS if you like */
ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[direction=y] {
  height: 30vh;
}

.login {
    background: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 80%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}
.slider {
  height: 200px;
}
.slider-slide {
  padding: 40px;
  background-color: #fff;
}
.command-image{

    height:38px;
    width: auto;
    margin-left:auto;
    margin-right: auto;
}

.rtl{
    direction:rtl;
}

.hi-item{
    width: 100%;
    height: 100%;
}

.slide{
  height:100vh;
}

.clinch-image{
    display: block;
    height:80px;
    width: 80px;
    margin-left:auto;
    margin-right: auto;
}

.clinch-image-slide{
    height:150px;
    width: 150px;
    margin:auto;
    display:block
}
.small-menu-button-image{
    display: block;
    height:28px;
    width: auto;
    margin-left:auto;
    margin-right: auto;
}
.big-menu-button-image{
    display: block;
    height:35px;
    width: auto;
    margin-left:auto;
    margin-right: auto;
}
.user-image{
    height:40px;
    width: auto;
}
.user-image-right{
    height:40px;
    width: auto;
    float:right;
}
.user-image-left{
    height:40px;
    width: auto;
    float:left;
}
.clinch-middle-logo{
    height:100px;
    width: auto;
    padding-right: 5px;
    padding-left: 15px;
}
.clinch-left{
    height:40px;
    width: auto;
    float:left;
}
.clinch-right{
    height:40px;
    width: auto;
    float:right;
}
.item-middle{
    width:150px;
    padding-left:20px;
    display: inline-block;
}
.change-item{
    padding-right:0px;
    padding-bottom: 1px;
}
.center-button{
    direction: ltr;
    margin-top: 5px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    clear: both;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;  height: 0; overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.static-map{
    margin-left: auto;
    margin-right: auto;
    display: block
}
.card-wrap{
  height: 100% !important;
  display: -webkit-box!important ;
  display: -moz-box!important ;
  display: -ms-flexbox!important ;
  display: -webkit-flex!important ;
  display: flex!important ;
  -webkit-box-direction: normal!important ;
  -moz-box-direction: normal!important ;
  -webkit-box-orient: vertical!important ;
  -moz-box-orient: vertical!important ;
  -webkit-flex-direction: column!important ;
  -ms-flex-direction: column!important ;
  flex-direction: column!important ;
  -webkit-flex-wrap: nowrap!important ;
  -ms-flex-wrap: nowrap!important ;
  flex-wrap: nowrap!important ;
  -webkit-box-pack: justify!important ;
  -moz-box-pack: justify!important ;
  -webkit-justify-content: space-between!important ;
  -ms-flex-pack: justify!important ;
  justify-content: space-between!important ;
  -webkit-align-content: space-around!important ;
  -ms-flex-line-pack: distribute!important ;
  align-content: space-around!important ;
  -webkit-box-align: stretch!important ;
  -moz-box-align: stretch!important ;
  -webkit-align-items: stretch!important ;
  -ms-flex-align: stretch!important ;
  align-items: stretch!important ;

}

.full-card {
  -webkit-box-flex: 1 !important ;
  -moz-box-flex: 1 !important ;
  -webkit-flex: 1 1 auto !important ;
  -ms-flex: 1 1 auto !important ;
  flex: 1 1 auto !important ;
  -webkit-align-self: stretch !important ;
  -ms-flex-item-align: stretch !important ;
  align-self: stretch !important ;

  display: -webkit-box !important ;
  display: -moz-box !important ;
  display: -ms-flexbox !important ;
  display: -webkit-flex !important ;
  display: flex !important ;
  -webkit-box-direction: normal !important ;
  -moz-box-direction: normal !important ;
  -webkit-box-orient: horizontal !important ;
  -moz-box-orient: horizontal !important ;
  -webkit-flex-direction: row !important ;
  -ms-flex-direction: row !important ;
  flex-direction: row !important ;
  -webkit-flex-wrap: nowrap !important ;
  -ms-flex-wrap: nowrap !important ;
  flex-wrap: nowrap !important ;
  -webkit-box-pack: center !important ;
  -moz-box-pack: center !important ;
  -webkit-justify-content: center !important ;
  -ms-flex-pack: center !important ;
  justify-content: center !important ;
  -webkit-align-content: space-between !important ;
  -ms-flex-line-pack: justify !important ;
  align-content: space-between !important ;
  -webkit-box-align: center !important ;
  -moz-box-align: center !important ;
  -webkit-align-items: center !important ;
  -ms-flex-align: center !important ;
  align-items: center !important ;
}
.scroll {
    height: 100%;
}
/** Styling for the username field **/
label.item.has-error {  
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {  
  border-left: 2px solid red;
  border-right: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {  
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}
.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

.ng-animate-block-transitions {
  transition:0s all!important;
  -webkit-transition:0s all!important;
}

/* show the element during a show/hide animation when the
 * animation is ongoing, but the .ng-hide class is active */
.ng-hide-add-active, .ng-hide-remove {
  display: block!important;
}

.ribbon {
  margin-right: 10px;
  float: left;
}
/* End demo css */

.ribbon {
  display: block;
  width: 30px;
  position: relative;
  color: #fff;
  padding: 20px 0 10px;
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);

}

.ribbon:before {
  display: block;
  width: 30px;
  height: 0;
  position: absolute;
  top: 4px;
  content: "";
  border-top: 1px dotted rgba(0, 0, 0, 0.2);
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
}

.ribbon:after {
  display: block;
  width: 0;
  height: 0;
  content: "";
  position: relative;
  bottom: -25px;
  z-index: 100;
  border-width: 0 15px 15px 15px;
  border-style: solid;
}

/* 
    Ribbon colors 
*/
.ribbon.red {
  background-color: #cb0000;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fe0000), to(#cb0000));
  background-image: -moz-linear-gradient(top, #fe0000, #cb0000);
  background-image: -ms-linear-gradient(top, #fe0000, #cb0000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe0000), color-stop(100%, #cb0000));
  background-image: -webkit-linear-gradient(top, #fe0000, #cb0000);
  background-image: -o-linear-gradient(top, #fe0000, #cb0000);
  background-image: linear-gradient(top, #fe0000, #cb0000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe0000', endColorstr='#cb0000', GradientType=0);
}
.ribbon.red:after {
  border-color: #cb0000 #cb0000 transparent #cb0000;
}
.ribbon.orange {
  background-color: #e44200;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ff5b18), to(#e44200));
  background-image: -moz-linear-gradient(top, #ff5b18, #e44200);
  background-image: -ms-linear-gradient(top, #ff5b18, #e44200);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5b18), color-stop(100%, #e44200));
  background-image: -webkit-linear-gradient(top, #ff5b18, #e44200);
  background-image: -o-linear-gradient(top, #ff5b18, #e44200);
  background-image: linear-gradient(top, #ff5b18, #e44200);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5b18', endColorstr='#e44200', GradientType=0);
}
.ribbon.orange:after {
  border-color: #e44200 #e44200 transparent #e44200;
}
.ribbon.yellow {
  background-color: #cc9b00;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffc200), to(#cc9b00));
  background-image: -moz-linear-gradient(top, #ffc200, #cc9b00);
  background-image: -ms-linear-gradient(top, #ffc200, #cc9b00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffc200), color-stop(100%, #cc9b00));
  background-image: -webkit-linear-gradient(top, #ffc200, #cc9b00);
  background-image: -o-linear-gradient(top, #ffc200, #cc9b00);
  background-image: linear-gradient(top, #ffc200, #cc9b00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc200', endColorstr='#cc9b00', GradientType=0);
}
.ribbon.yellow:after {
  border-color: #cc9b00 #cc9b00 transparent #cc9b00;
}
.ribbon.green {
  background-color: #6b8d13;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8dba19), to(#6b8d13));
  background-image: -moz-linear-gradient(top, #8dba19, #6b8d13);
  background-image: -ms-linear-gradient(top, #8dba19, #6b8d13);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8dba19), color-stop(100%, #6b8d13));
  background-image: -webkit-linear-gradient(top, #8dba19, #6b8d13);
  background-image: -o-linear-gradient(top, #8dba19, #6b8d13);
  background-image: linear-gradient(top, #8dba19, #6b8d13);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dba19', endColorstr='#6b8d13', GradientType=0);
}
.ribbon.green:after {
  border-color: #6b8d13 #6b8d13 transparent #6b8d13;
}
.ribbon.blue {
  background-color: #17a1d0;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#32bae8), to(#17a1d0));
  background-image: -moz-linear-gradient(top, #32bae8, #17a1d0);
  background-image: -ms-linear-gradient(top, #32bae8, #17a1d0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #32bae8), color-stop(100%, #17a1d0));
  background-image: -webkit-linear-gradient(top, #32bae8, #17a1d0);
  background-image: -o-linear-gradient(top, #32bae8, #17a1d0);
  background-image: linear-gradient(top, #32bae8, #17a1d0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32bae8', endColorstr='#17a1d0', GradientType=0);
}
.ribbon.blue:after {
  border-color: #17a1d0 #17a1d0 transparent #17a1d0;
}
.ribbon.purple {
  background-color: #611b85;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8024af), to(#611b85));
  background-image: -moz-linear-gradient(top, #8024af, #611b85);
  background-image: -ms-linear-gradient(top, #8024af, #611b85);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8024af), color-stop(100%, #611b85));
  background-image: -webkit-linear-gradient(top, #8024af, #611b85);
  background-image: -o-linear-gradient(top, #8024af, #611b85);
  background-image: linear-gradient(top, #8024af, #611b85);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8024af', endColorstr='#611b85', GradientType=0);
}
.ribbon.purple:after {
  border-color: #611b85 #611b85 transparent #611b85;
}
.ribbon.black {
  background-color: #323232;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#4b4b4b), to(#323232));
  background-image: -moz-linear-gradient(top, #4b4b4b, #323232);
  background-image: -ms-linear-gradient(top, #4b4b4b, #323232);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4b4b4b), color-stop(100%, #323232));
  background-image: -webkit-linear-gradient(top, #4b4b4b, #323232);
  background-image: -o-linear-gradient(top, #4b4b4b, #323232);
  background-image: linear-gradient(top, #4b4b4b, #323232);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4b4b4b', endColorstr='#323232', GradientType=0);
}
.ribbon.black:after {
  border-color: #323232 #323232 transparent #323232;
}